<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<!-- 해당 경로를 alias처럼 쓰겠다~ -->
		<typeAlias type="com.ncs.test.controller.MemberController" alias="Member"/>
		<typeAlias type="com.ncs.test.mappers.member-mapper" alias="mapper"/>
		
	</typeAliases>
</configuration>