body {
  margin: 0;
}

.menu-list{
  list-style: none;
  margin: 0; padding: 10px;
  border: 3px solid black; font-size: 20px;
  display: flex; justify-content: space-around; 
}

.menu-list+.menu-list

.menu-link{
  color: black;
}
.menu-link:hover{
  background-color: beige;
}